@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 32px 0;
}

header {
  min-height: calc(100vh - 70px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 span {
  color: #242424;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: opacity 300ms ease;
}

.link__hover-effect:hover {
  color: rgb(100, 21, 255);
  text-decoration: underline;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.text--purple {
 color: rgb(100, 21, 255);
}

button {
  margin-top: 32px;
  background-color: rgb(100, 21, 255);
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 50px;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
}

button:hover {
  background-color: rgb(69, 12, 184);
}

/*

NAVIGATION BAR

*/

.nav__logo--wrapper {
  display: flex;
  align-items: center;
  color: rgb(36, 62, 99);
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.nav__logo {
  width: 84px;
}

.nav__link--list {
  display: flex;
}

.nav__link--secondary {
  display: flex;
  margin-left: 48px;
}

.nav__link--anchor {
  margin: 0 12px;
  color: rgb(36, 62, 99);
  font-weight: 700;
  padding: 8px;
}

.nav__link--anchor-primary {
  background-color: rgb(100, 21, 255);
  padding: 12px 36px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: rgb(69, 12, 184);
}

/* 

HEADER

*/

.header__container {
  padding-top: 24px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 0 96px 0;
}

.header__description {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__title {
  font-size: 48px;
  color: rgb(26, 32, 44);
}

.header__description--para {
  font-size: 18px;
  color: rgb(36,62,99);
  margin: 32px 0;
  line-height: 24px;
}

.header__input--wrapper {
  position: relative;
  max-width: 448px;
  margin: 40px 0;
}

.header__input {
  width: 100%;
  padding: 20px 192px 20px 32px;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  font-size: 100%;
  outline: none;
  transition: all 300ms ease;
}

.header__input:hover {
  border-color: rgb(160, 174, 192);
}

.header__input:placeholder {
  opacity: .5;
}

.header__btn {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  width: 160px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__description--wrapper {
  
}

.header__subtitle {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(160, 174, 192);
}

.header__description--img {
  display: flex;
  opacity: 0.5;
  margin-top: 16px;
  padding: 0;
}

.header__img--wrapper 
.section__img--wrapper {
  width: 60%;
}

.header__img 
.section__img--screenshot {
  width: 100%;
}

/* 

FEATURES

*/

.section__row {
  padding: 96px 0 96px 0;
  text-align: center;
}

.section__subtitle
.section__subtitle--primary {
  font-size: 48px;
  color: #243e63;
  font-weight: 900;
} 

.section__title--primary 
.section__subtitle--primary {
  font-size: 16px;
  color: rgb(100, 21, 255);
}

.section__services--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section__service {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 16px;
  padding: 32px 8px;
}

.section__services--img {
  border: 1px solid rgb(226, 232, 240);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000%;
  max-width: 20%;
}

.section__subtitle {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}